body {
    background-color: gray;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    color: white;
    font-size: 18px
}
img {
    height: 250px;
    width: 300px;
}
#back {
    text-decoration: none;
    color: hotpink;
}