body {
 background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
#titleHeader {
    color: #ff7335;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -440px;
    margin-left: -180;
}
#bACKtEM {
    height: 16px;
    width: 75px;
    text-decoration: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -50px;
}
#explanation {
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -350px;
}
#WhatIsDatamatch {
    color: blue;
    text-decoration: none;
}
#answers1 {
	height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -760px;
}
#question1 {
	height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -720px;
}
#answers2 {
  height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -760px;  
}
#question2 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -720px;  
}
#answers3 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -760px;
}
#question3 {
  height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -715px;  
}
#answers4 {
     height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -760px;
}
#question4 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: -715px;  
}
#answers5 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 175px;
    margin-left: -760px;
}
#question5 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 155px;
    margin-left: -715px; 
}
#answers6 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 270px;
    margin-left: -760px; 
}
#question6 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 250px;
    margin-left: -715px; 
}
#answers7 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -290px; 
}
#question7 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -250px; 
}
#answers8 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -290px; 
}
#question8 {
    height: 100px;
    width: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -250px; 
}